[dir="ltr"] & test-clear {
	clear: left;
}
[dir="rtl"] & test-clear {
	clear: right;
}
[dir="ltr"] & test-clear {
	clear: right;
}
[dir="rtl"] & test-clear {
	clear: left;
}
test-clear {
	clear: both;
	clear: left;
	clear: right;
}
