[dir="ltr"] test-float {
	float: left;
}
[dir="rtl"] test-float {
	float: right;
}
[dir="ltr"] test-float {
	float: right;
}
[dir="rtl"] test-float {
	float: left;
}
test-float {
	float: left;
	float: right;
}
